/* style css */

#box {
    background: red;
    height: 200px;
    width: 200px;
    margin: 40px auto;
    line-height: 300px
    box-sizing: border-box; /*   css3 property doesn't add any extra stuff*/
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    
    
    -webkit-border-radius: px;
    -moz-border-radius: px;
}



/* Colors */
body#colors {
    background: rgba(25, 52, 84, 1);
    color: white;
}


#colors #container {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.1);


   /* background: hsla(120, 100%, 50%, 0.1);*/
}



#colors #box {

   background: linear-gradient(to bottom right ,blue, yellow);
/*      background: linear-gradient(85deg,blue, yellow);*/
    background: radial-gradient(blue, yellow, black, white);

}



/*Shadows*/



#shadows #container {
    width: 900px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    background: #fc3;
    box-shadow: 10px 100px 65px -10px #333;
}


#shadows h1 {
    color: white;
    text-shadow: 0px 2px black, 1px 1px 4px white;  /*default is white horizontal and vertical  positive right down*/ 
}


/*horizontal vertical blurred */  







/* Columns */
/*have to use vendor prefixes*/

#three-columns {
    webkit-column-count: 3;
    -moz-column-count: 3;
    column-count 3;



    webkit-column-gap: 10px;
    moz-column-gap: 10px;
    column-gap: 20px;


    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;


    webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;

    -webkit-column-rule-color: #333;
    -moz-column-rule-color: #333;


}


/* Animation & Transition */

@keyframes box {
    from { border-radius: 40px; background-color: red; top: 0; left: 0;}
    to { border-radius: 100px; background-color: black; top: 100px; left: 100px;}
}



#animations #box {
    position: relative;
    animation-name: box;
    animation-duration: 10s; 
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-iteration-count: 3;
    animation-direction: reverse; /*  reverse it*/
    
}






/*@keyframes box {
    0% {background-color: red;}
    50%{}
}
*/




#box2 {
    background: blue;
    width: 200px;
    height: 200px;
    color: white;
    position: relative;
}


#box2:hover {
    background: red;
    width: 300px; 
    height: 300px;
    top: -20px; 
    left: 30px; 
}







/* Buttons */
@keyframes buttonAnimation
    from {padding: 10px 20px; }
    to {padding: 15px 30px;}
}

.button {
    display: inline-block;
    background: #fc3;
    background: linear-gradient(#fc3, #f91);
    border: solid 1px #999;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}



.button:hover {
    border-color: #888;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    background: #f91;
    background: linear-gradient(to top, #fc3, #f91);
    animation-name: buttonAnimation;

}

.button:active {
    position: relative;
    top: 1px;
}


/*Orbit Animation*/


/* STAR PULSE ANIMATION */

@-webkit-keyframes startPulse {
    form {opacity: 1;}
    to {opacity: 0.2;}
}


@-moz-keyframes startPulse {
    form {opacity: 1;}
    to {opacity: 0.2;}
}

@-o-keyframes startPulse {
    form {opacity: 1;}
    to {opacity: 0.2;}
}


@keyframes starPulse {
    from { opacity: 1;}
    to {opacity: 0.2;}
    
}


/* SOLAR FLARE ANIMATION */
@-webkit-keyframes sunFire {
    from {
       -webkit-box-shadow: 0 0 50px #f5c91a; 
        -moz-box-shadow: 0 0 50px #f5c91a; 
        box-shadow: 0 0 50px #f5c91a; 
        
    }
    to {
        -webkit-box-shadow: 0 0 100px #f5c91a; 
        -moz-box-shadow: 0 0 100px #f5c91a; 
        box-shadow: 0 0 100px #f5c91a; 
        
    }
}


@-moz-keyframes sunFire {
    from {
       -webkit-box-shadow: 0 0 50px #f5c91a; 
        -moz-box-shadow: 0 0 50px #f5c91a; 
        box-shadow: 0 0 50px #f5c91a; 
        
    }
    to {
        -webkit-box-shadow: 0 0 100px #f5c91a; 
        -moz-box-shadow: 0 0 100px #f5c91a; 
        box-shadow: 0 0 100px #f5c91a; 
        
    }
}

@-o-keyframes sunFire {
    from {
       -webkit-box-shadow: 0 0 50px #f5c91a; 
        -moz-box-shadow: 0 0 50px #f5c91a; 
        box-shadow: 0 0 50px #f5c91a; 
        
    }
    to {
        -webkit-box-shadow: 0 0 100px #f5c91a; 
        -moz-box-shadow: 0 0 100px #f5c91a; 
        box-shadow: 0 0 100px #f5c91a; 
        
    }
}



@keyframes sunFire {
    from {
       -webkit-box-shadow: 0 0 50px #f5c91a; 
        -moz-box-shadow: 0 0 50px #f5c91a; 
        box-shadow: 0 0 50px #f5c91a; 
        
    }
    to {
        -webkit-box-shadow: 0 0 100px #f5c91a; 
        -moz-box-shadow: 0 0 100px #f5c91a; 
        box-shadow: 0 0 100px #f5c91a; 
        
    }
}





/* ROTATE ANIMATION */

@-webkit-keyframes spin {
    from { transform: rotate(0);}
    to { transform: rotate(360deg);}
}

@-moz-keyframes spin {
    from { transform: rotate(0);}
    to { transform: rotate(360deg);}
}

@-o-keyframes spin {
    from { transform: rotate(0);}
    to { transform: rotate(360deg);}
}



@keyframes spin {
    from { transform: rotate(0);}
    to { transform: rotate(360deg);}
}





html, body {
    height: 100%;
    width: 100%;
    
}

#universe {
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -o-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}


#stars {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: url('../images/stars.png');
    
    -webkit-animation: starPulse 4s infinite alternate; 
    -moz-animation: starPulse 4s infinite alternate;
    -o-animation: starPulse 4s infinite alternate; 
    animation: starPulse 4s infinite alternate;
}

#sun {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    
    margin-top: -100px;
    margin-left: -100px;
/*
    
    take half height and width bring it up and left 
*/
    
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
     border-radius: 100%;
    
  
    background: orange;
    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
     box-shadow: 0 0 50px #f5c91a;
    
    -webkit-animation: sunFire 4s infinite alternate; 
     -moz-animation: sunFire 4s  infinite alternate; 
     -o-animation: sunFire 4s  infinite alternate; 
     animation: sunFire 4s  infinite alternate; 
}

#earthOrbit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 4;
    height: 600px;
    width: 750px;
/*    non perfect circle*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius:100%;
    
    
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    -o-animation: spin 30s linear infinite;
     animation: spin 30s linear infinite;
}

#earth {
    position: absolute; 
    top: 50%;
    left: 0;
    
    margin-top: -40px;
    
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
     animation: spin 3s linear infinite;
}


#moonOrbit {
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -60px;
    z-index: 4;
    height: 120px;
    width: 120px;
    
     -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    
    
    
     -webkit-animation: spin 4s linear infinite reverse;
    -moz-animation: spin 4s linear infinite reverse;
    -o-animation: spin 4s linear infinite reverse;
     animation: spin 4s linear infinite reverse;
    
    }


#moon {
    height: 20px;
    width: 20px;
    
    background: gray;
    background: -webkit-radial-gradient(#ddd, #888);
    background: -moz-radial-gradient(#ddd, #888);
    background: radial-gradient(#ddd, #888);
    
    border-radius:  100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
    









